.universal-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  // //   background-color: #007bff;
  //   color:black;
  //   border: none;
  //   cursor: pointer;
  //   outline: none;
  //   border: 1px solid black;
  //   border-radius: 5vw;
  //   background-color: white;

  // Add any additional styling you prefer
}
